/*
Template: Mannat - Admin & Dashboard Template
Author: Mannatthemes
File: Icons
*/
// @import "plugins/fontawesome";
@import 'plugins/iconoir';
@import 'plugins/icofont';
@import 'plugins/line-awesome';
@import 'plugins/fontawesome';
